body {
    background-color: #e3f2fd;
    font-family: Arial, sans-serif;
}
select {
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
}
.weather-container {
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #a3d5e2;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    position: relative;
}
.current-weather {
    text-align: center;
    margin-bottom: 20px;
}
.temperature {
    font-size: 48px;
    font-weight: bold;
    color: #ff5722;
}
.description {
    font-size: 24px;
    color: #555;
}
.forecast-table {
    width: 100%;
    margin-top: 20px;
}
.forecast-table th, .forecast-table td {
    text-align: center;

}
.week-forecast {
    margin-top: 0;
    list-style-type: none;
    padding: 0;

}
.week-forecast li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.liTop {
    display: flex;
}
.week-forecast .weekday-temp {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.futureTittle {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-right: 22px;
    line-height: 10px;
}
.forecastArrow {
    font-size: 20px;
    user-select: none;
    margin-left: 10px;
    cursor: pointer;
    transform: rotate(90deg);
    transition: all 0.3s;
}
.wheather-icon {
    height: 50px;
    background-size: 100%;
    display: flex;
    justify-content: center;
}
.backgroundImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 290px;
    background-size: 100% 300px;
    background-repeat: no-repeat;
    opacity: 0.5;
}
.wheather-head {
    position: relative;
    z-index: 3;

}